{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Pedido de Compra</title>
     <script>
        let totalPedido = 0;

        function agregarProducto() {
            const productoSelect = document.getElementById("producto");
            const productoId = productoSelect.value;
            const productoNombre = productoSelect.options[productoSelect.selectedIndex].text;
            const precio = parseFloat(productoSelect.options[productoSelect.selectedIndex].dataset.precio);
            const cantidad = parseInt(document.getElementById("cantidad").value);
            const fechaExpiracion = document.getElementById("fecha_expiracion").value;

            if (!productoId || isNaN(cantidad) || cantidad <= 0 || !fechaExpiracion) {
                alert("Por favor, selecciona un producto, ingresa una cantidad válida y una fecha de expiración.");
                return;
            }

            const table = document.getElementById("pedidoTable").getElementsByTagName("tbody")[0];
            let productoYaAgregado = false;

            for (let i = 0; i < table.rows.length; i++) {
                const row = table.rows[i];
                const nombreProductoEnFila = row.cells[0].innerText;
                const fechaExpiracionEnFila = row.cells[1].innerText;

                if (nombreProductoEnFila === productoNombre && fechaExpiracionEnFila === fechaExpiracion) {
                    const cantidadActual = parseInt(row.cells[2].innerText);
                    const nuevaCantidad = cantidadActual + cantidad;
                    const nuevoTotalProducto = nuevaCantidad * precio;

                    row.cells[2].innerText = nuevaCantidad;
                    row.cells[4].innerText = nuevoTotalProducto.toFixed(2);

                    totalPedido += cantidad * precio;
                    actualizarTotal();
                    productoYaAgregado = true;
                    break;
                }
            }

            if (!productoYaAgregado) {
                const totalProducto = precio * cantidad;
                totalPedido += totalProducto;

                const row = table.insertRow();
                row.innerHTML = `
                    <td>${productoNombre}</td>
                    <td>${fechaExpiracion}</td>
                    <td>${cantidad}</td>
                    <td>${precio.toFixed(2)}</td>
                    <td>${totalProducto.toFixed(2)}</td>
                    <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarProducto(this)" id="btn-enlaces">X</button></td>
                `;

                actualizarTotal();
            }
        }

        function eliminarProducto(button) {
            // Eliminar la fila
            const row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);

            // Recalcular el total del pedido
            actualizarTotal();
        }

        function actualizarTotal() {
            const table = document.getElementById("pedidoTable").getElementsByTagName("tbody")[0];
            let nuevoTotal = 0;

            for (let i = 0; i < table.rows.length; i++) {
                const totalProducto = parseFloat(table.rows[i].cells[4].innerText);
                nuevoTotal += totalProducto;
            }

            totalPedido = nuevoTotal;
            document.getElementById("total").innerText = totalPedido.toFixed(2);
        }

        function completarPedido() {
            const proveedor = document.getElementById("proveedor").value;
            const empleado = document.getElementById("empleado").value;
            const total = parseFloat(document.getElementById("total").innerText);
            const table = document.getElementById("pedidoTable").getElementsByTagName("tbody")[0];
            const productos = [];

            for (let i = 0; i < table.rows.length; i++) {
                const row = table.rows[i];
                const productoNombre = row.cells[0].innerText;
                const fechaExpiracion = row.cells[1].innerText;
                const cantidad = parseInt(row.cells[2].innerText);
                const precio = parseFloat(row.cells[3].innerText);

                productos.push({
                    'nombre': productoNombre,
                    'fecha_expiracion': fechaExpiracion,
                    'cantidad': cantidad,
                    'precio': precio
                });
            }

            if (!proveedor || !empleado) {
                alert("Por favor, selecciona un proveedor y un empleado.");
                return;
            }

            fetch('{% url "completar_compra" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'proveedor': proveedor,
                    'empleado': empleado,
                    'productos': productos,
                    'total': total
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Compra completada y inventario actualizado');
                    location.reload();
                } else {
                    alert(data.error || 'Ocurrió un error');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div class="container mt-5">
    <nav class="sidebar">
           <ul class="sidebar">
            {% if es_empleado %}
                <!-- Opciones disponibles para usuarios en el grupo "Empleados" -->
                <li><a href="{% url 'venta' %}">Vender</a></li>
                <li><a href="{% url 'crear_cliente' %}">Crear Cliente</a></li>
                <li><a href="{% url 'ventas_listar' %}">Lista de Ventas</a></li>
                <li><a href="{% url 'productos_listar' %}">Lista de Productos</a></li>
                <li><a href="{% url 'clientes_listar' %}">Lista de Clientes</a></li>
                <li class="sidebar-footer">
                    {% if user.is_authenticated %}
                        <p>Usuario: {{ user.username }}</p>
                        <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                    {% endif %}
                </li>
            {% else %}
                <!-- Opciones disponibles para otros roles (por ejemplo, administrador) -->
                <li><a href="{% url 'crear_producto' %}">Crear Producto</a></li>
                <li><a href="{% url 'crear_categoria' %}">Crear Categoría de Producto</a></li>
                <li><a href="{% url 'crear_cliente' %}">Crear Cliente</a></li>
                <li><a href="{% url 'crear_empleado' %}">Crear Empleado</a></li>
                <li><a href="{% url 'crear_proveedor' %}">Crear Proveedor</a></li>
                <li><a href="{% url 'productos_listar' %}">Lista de Productos</a></li>
                <li><a href="{% url 'categorias_listar' %}">Lista de Categorías de Producto</a></li>
                <li><a href="{% url 'ventas_listar' %}">Lista de ventas</a></li>
                <li><a href="{% url 'compras_listar' %}">Lista de compras</a></li>
                <li><a href="{% url 'clientes_listar' %}">Lista de Clientes</a></li>
                <li><a href="{% url 'empleados_listar' %}">Lista de Empleados</a></li>
                <li><a href="{% url 'proveedores_listar' %}">Lista de Proveedores</a></li>
                <li><a href="{% url 'inventario' %}">Inventario</a></li>
                <li><a href="{% url 'venta' %}">Vender</a></li>
                <li class="sidebar-footer">
                    {% if user.is_authenticated %}
                        <p>Usuario: {{ user.username }}</p>
                        <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                    {% endif %}
                </li>
            {% endif %}
           </ul>
       </nav>
        <div class="content">
            <div class="center-wrapper">
                <div class="contenedor-crear">
                    <h2>Pedido de Compra</h2>
                        <table id="pedidoTable" class="content-listados-compra table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha de Expiración</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Las filas de productos se agregarán aquí -->
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="producto">Seleccionar producto:</label>
                            <select id="producto" class="form-control">
                            <option value="">(Seleccione el producto que desea)</option>
                                {% for producto in productos %}
                            <option value="{{ producto.id_producto }}" data-precio="{{ producto.precio_compra }}">
                                {{ producto.nombre_producto }}
                            </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Ingresar cantidad:</label>
                            <input type="number" id="cantidad" class="form-control" placeholder="(No se puede ingresar más de las existencias)">
                        </div>
                        <div class="form-group">
                            <label for="fecha_expiracion">Fecha de Expiración:</label>
                            <input type="date" id="fecha_expiracion" class="form-control">
                        </div>
                        <button type="button" class="btn btn-warning" onclick="agregarProducto()" id="btn-enlaces">Agregar Producto</button>
                        <hr>
                        <div class="form-group">
                            <label for="proveedor">Seleccionar Proveedor:</label>
                            <select id="proveedor" class="form-control">
                            <option value="">Seleccionar Proveedor</option>
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.nit_proveedor }}">{{ proveedor.nombre_proveedor }}</option>
                            {% endfor %}
                            </select>
                        </div>
            <div class="form-group">
                <label for="empleado">Seleccionar Empleado:</label>
                <select id="empleado" class="form-control">
                    <option value="">Seleccionar Empleado</option>
                    {% for empleado in empleados %}
                    <option value="{{ empleado.id_usuario }}">{{ empleado.nombre_usuario }}</option>
                    {% endfor %}
                </select>
            </div>

            <h3>Total: <span id="total">0.00</span></h3>

            <button type="button" class="btn btn-warning" onclick="completarPedido()" id="btn-enlaces">Completar Pedido</button>
            <button type="button" class="btn btn-warning" onclick="location.href='{% url 'crear_proveedor' %}'" id="btn-enlaces">Agregar Proveedor</button>
        </div>
    </div>
        </div>
    </div>
</body>
</html>
