<!-- templates/inventario/crear_producto.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Crear Producto</title>
</head>
<body>
    <div class="container">
        <h2>Crear Producto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
