{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Crear Proveedor</title>
</head>
<body>
    <div class="container mt-5">
        <nav class="sidebar">
           <ul class="sidebar">
            {% if es_empleado %}
                <!-- Opciones disponibles para usuarios en el grupo "Empleados" -->
                <li><a href="{% url 'venta' %}">Vender</a></li>
                <li><a href="{% url 'crear_cliente' %}">Crear Cliente</a></li>
                <li><a href="{% url 'ventas_listar' %}">Lista de Ventas</a></li>
                <li><a href="{% url 'productos_listar' %}">Lista de Productos</a></li>
                <li><a href="{% url 'clientes_listar' %}">Lista de Clientes</a></li>
                <li class="sidebar-footer">
                    {% if user.is_authenticated %}
                        <p>Usuario: {{ user.username }}</p>
                        <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                    {% endif %}
                </li>
            {% else %}
                <!-- Opciones disponibles para otros roles (por ejemplo, administrador) -->
                <li><a href="{% url 'crear_producto' %}">Crear Producto</a></li>
                <li><a href="{% url 'crear_categoria' %}">Crear Categoría de Producto</a></li>
                <li><a href="{% url 'crear_cliente' %}">Crear Cliente</a></li>
                <li><a href="{% url 'crear_empleado' %}">Crear Empleado</a></li>
                <li><a href="{% url 'productos_listar' %}">Lista de Productos</a></li>
                <li><a href="{% url 'categorias_listar' %}">Lista de Categorías de Producto</a></li>
                <li><a href="{% url 'ventas_listar' %}">Lista de ventas</a></li>
                <li><a href="{% url 'compras_listar' %}">Lista de compras</a></li>
                <li><a href="{% url 'clientes_listar' %}">Lista de Clientes</a></li>
                <li><a href="{% url 'empleados_listar' %}">Lista de Empleados</a></li>
                <li><a href="{% url 'proveedores_listar' %}">Lista de Proveedores</a></li>
                <li><a href="{% url 'inventario' %}">Inventario</a></li>
                <li><a href="{% url 'compra' %}">Comprar</a></li>
                <li><a href="{% url 'venta' %}">Vender</a></li>
                <li class="sidebar-footer">
                    {% if user.is_authenticated %}
                        <p>Usuario: {{ user.username }}</p>
                        <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                    {% endif %}
                </li>
            {% endif %}
           </ul>
       </nav>
        <div class="content">
            <div class="center-wrapper">
                <div class="contenedor-login">
                    <h2>Crear Nuevo Proveedor</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" id="btn-enlaces">Guardar</button>
                        <a href="{% url 'proveedores_listar' %}" class="btn btn-secondary" id="btn-enlaces">Cancelar</a>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>
