{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Detalle de Compra</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Detalle de Compra - ID: {{ compra.id_compra }}</h2>
        <p><strong>Fecha de Compra:</strong> {{ compra.fecha_compra }}</p>
        <p><strong>Proveedor:</strong> {{ compra.nit_proveedor.nombre_proveedor }}</p>
        <p><strong>Total de Compra:</strong> {{ compra.total_compra }}</p>

        <h3>Productos en esta Compra</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th>Fecha de Expiración</th> <!-- Columna para la fecha de expiración -->
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td>{{ detalle.id_producto.nombre_producto }}</td>
                    <td>{{ detalle.cantidad_producto }}</td>
                    <td>{{ detalle.id_producto.precio_compra }}</td>
                    <td>{{ detalle.total_producto }}</td>
                    <td>{{ detalle.fecha_expiracion }}</td> <!-- Mostrar la fecha de expiración -->
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay productos en esta compra.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'compras_listar' %}" class="btn btn-secondary">Volver al Listado de Compras</a>
    </div>
</body>
</html>
