{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Editar Cliente</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Editar Cliente</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="{% url 'clientes_listar' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>