{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Productos</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Inventario de Productos</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad Disponible</th>
                    <th>Fecha de Expiración</th>
                    <th>¿Vencido?</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventario %}
                <tr>
                    <td>{{ item.id_producto.nombre_producto }}</td>
                    <td>{{ item.cantidad_disponible }}</td>
                    <td>{{ item.fecha_expiracion }}</td>
                    <td>{% if item.esta_vencido %}Sí{% else %}No{% endif %}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay productos en el inventario.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
